<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vdesabou.convert.word.to.pdf</string>
	<key>connections</key>
	<dict>
		<key>1EA493C0-E133-4B6F-B686-FDBC99EC14D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82A51732-C76D-4B4B-A196-FD9176150242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>73B987E8-0B21-43CB-94EF-0CEE1634F927</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82A51732-C76D-4B4B-A196-FD9176150242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>82A51732-C76D-4B4B-A196-FD9176150242</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20762241-3C09-4C44-8B67-2DECC8C2C56E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>vdesabou</string>
	<key>description</key>
	<string>For .rtf, .doc and .docx</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Convert Word document to PDF 1.3</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.microsoft.word.doc</string>
					<string>org.openxmlformats.wordprocessingml.document</string>
					<string>public.rtf</string>
				</array>
				<key>name</key>
				<string>Convert document to PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>1EA493C0-E133-4B6F-B686-FDBC99EC14D1</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>ksh converttopdf.ksh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82A51732-C76D-4B4B-A196-FD9176150242</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Convert Word document to PDF</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>20762241-3C09-4C44-8B67-2DECC8C2C56E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>73B987E8-0B21-43CB-94EF-0CEE1634F927</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1EA493C0-E133-4B6F-B686-FDBC99EC14D1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>20762241-3C09-4C44-8B67-2DECC8C2C56E</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>73B987E8-0B21-43CB-94EF-0CEE1634F927</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>82A51732-C76D-4B4B-A196-FD9176150242</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/vdesabou/alfred-convert-word-to-pdf</string>
</dict>
</plist>
